{%load static%}
      
  <div class="navbar-collapse collapse navbar-right " >
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}"><i class="bi bi-house-fill" style="color: #0174DF;"></i> <strong>Accueil</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'information'%}" ><i class="bi bi-newspaper" style="color: #0174DF;"></i> <strong>Demande Parcelle</strong></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-file-person" style="color: #0101DF;"></i> <strong>Connexion</strong>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'login-auth'%}"><strong style="color: #21610B;">Autorité Municipale</strong></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'application'%}"><strong style="color: blue;">MapFoncier.sn</strong></a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'about'%}" ><i class="bi bi-journal-text" style="color: #0101DF;"></i> <strong>À Propos</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'contact'%}"><i class="bi bi-telephone-fill" style="color: #0101DF;"></i><strong>Contacts</strong></a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Search" name="query">
              <div class="input-group-btn">
                <button class="btn btn-outline-success" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blue" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>                
      </div>
     
  </div>