{% extends 'base.html' %}
{% block titre %}search{%endblock%}
{% block breadcrumb %}Recherche{%endblock%}
{% block content %}

    <h2 class="text-center mt-5 " style="margin-left: 20px;"> Search Results:  </h5>

        <hr>

        <div class="container">

            <div class="row justify-content-center m-4">

                {% if adresses %}
    
                    {% for adresses in Adresse_physique %}
        
                        <div class="col-md-4">
                            <div class="card m-3 p-2" style="width: 18rem; height: 33rem; box-shadow: 4px 4px #c291fa; border-radius: 25px 15px;">
                                <img src="{{ product.image.url }}" style="height: 300px; width: 200px;"  class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title mt-1">{{ adresses.Adresse_physique }}</h4>
                                    
                                    <hr>
                                   
                                </div>
                            </div>
                        </div>
        
                    {% endfor %}
        
                {% else %}
                     <p> Votre recherche n'a pas donné de résultat. </p>
                {% endif %}
    
            </div>

        </div>


{% endblock %}