{% extends 'base.html'%}
{% block titre %}Page d'authentification{%endblock%} 
{% block breadcrumb %}Connexion{%endblock%} 
{%block contenu%}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgb(30, 138, 210);
        margin: 10px 50px 30px 20;
        padding: 10px 50px 30px 20;
        background-image: url("/static/images/Logo.png");
        background-repeat: no-repeat;
        background-size: 16% 23%;
        background-position: top;
    }
</style>
<div class="container">
    <div class="col-md-12 mt-5">
        {%if messages %} 
             {% for message in messages%}
                    <div class="alert alert-danger text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                            <path
                                d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                            <path
                                d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                        </svg>
                        <strong>{{message}}</strong>
                    </div>
             {%endfor%} 
        {%endif%}
        <form action="" method="POST" novalidate>{%csrf_token%}
            <div class="card">
                <div class="card-header text-center"><i class="bi bi-person-fill" style="color: red;"></i> <strong style="color: red;">Authentification</strong> </div>
                <div class="card-body">
                    <label for="id_username">Nom utilisateur</label> 
                    {% if form.username.errors %} 
                    {% for error in form.username.errors%}
                    <div class="div-error-{{form.username.name}}"><small class="text-danger">{{error}}</small></div>
                    {% endfor %} 
                    {% endif %} 
                    {{form.username}}
                    <label for="id_pwd">Mot de passe</label> 
                    {% if form.pwd.errors %} 
                    {% for error in form.pwd.errors%}
                    <div class="div-error-{{form.pwd.name}}"><small class="text-danger">{{error}}</small></div>
                    {% endfor %} 
                    {% endif %} 
                    {{form.pwd}}
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-outline-success btn-block"><strong>S'authentifier</strong></button>
                </div>
            </div>
        </form>
    </div>
</div>
{%endblock%} 
{% block scripts %}

<script>
    $(document).ready(function() {
        $('input').keyup(function() {
            let textSaisi = $(this).val();
            let attrName = $(this).attr('name');
            let validatorElement = ".div-error-"+attrName;
            if (textSaisi === "") {
                if (!$(this).hasClass('is-invalid')) {
                    $(this).addClass('is-invalid');
                    $(validatorElement).show();
                }
            } else {
                $(this).removeClass('is-invalid');

                $(validatorElement).hide();
            }

        })
    })
</script>

{% endblock %}